<div class="row">  
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">
   <%= form_for @question do |question| %>
    <div class="form-group">
      <label for="first_name">Title:</label>
      <%= question.text_field :title, class: "form-control"  %>
    </div>
    <div class="form-group">
      <label for="first_name">Description:</label>
      <%= question.text_area :description, class: "form-control"  %>
    </div>
    <div class="form-group">
        <%= question.submit "Submit" ,class: "btn btn-default"%>
      </div>
    <% end %>
  </div>
  <div class="col-lg-1">
  </div>  
</div>

<script type="text/javascript">
  $("#question_description").ckeditor({
  // optional config
});
</script>